.HeroCard {
	min-height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.HeroCard .Content {
    text-align: center;
    padding: 2%;
    width: 100%;
    color: #fff;
    background:rgba(0,0,0,.8);
}

.HeroCard .Content h1 {
    font-size: 50px;
}

.HeroCard .Content h3 {
    font-size: 30px;
}

@media (max-width: 1001px) {

    .HeroCard .Content {
        padding: 5%;
    }
    
    .HeroCard .Content h1 {
        font-size: 38px;
    }
    
    .HeroCard .Content h3 {
        font-size: 28px;
    }
}