footer .Technologies {
    font-size: 60px;
}

footer .Technologies .Icon {
    margin: 2%;
}

footer .BreathingSpace {
    padding: 20%;
}

footer .SocialMediaIcons {
    font-size: 25px;
    text-align: center;
}

footer .SocialMediaIcons .Icon {
    margin: 2%;
    padding: 2.5%;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 25%;
    transition: all 250ms ease;
}

footer .SocialMediaIcons #Linkedin:hover {
    background: #fff;
    color: #0072b1;
}

footer .SocialMediaIcons #Gmail:hover {
    background: #fff;
    color: #720e9e;
}

footer .SocialMediaIcons #Facebook:hover {
    background: #fff;
    color: #00b2ff;
}

@media only screen and (max-width: 600px) {
    footer .Technologies {
        font-size: 40px;
    }
}
